* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    min-height: 100%;
    font-family: var(--font-main);
    background: var(--white);
    color: var(--text-dark);
  }
  
  #root {
    width: 100%;
    min-height: 100%;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  button {
    font-family: inherit;
    cursor: pointer;
  }
  